body {
  color: #333333;
  font-family: "Lucida	Sans	Unicode", "Lucida	Grande", sans-serif;
}

header {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;
  font-size: 14px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
  padding-top: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-opcoes ul {
  font-size: 15px;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.menu-opcoes a {
  color: #003366;
}

.image {
  background-image: none;
}

h1 {
  background-image: url(../img/sobre-background.jpg);
  padding: 10px;
}

h1 + p {
  text-indent: 0;
}

h2 {
  border-bottom: 1px groove #333333;
  margin-top: 30px;
}

p {
  padding: 0 45px;
  text-indent: 15px;
  text-align: justify;
}

p::first-letter {
  font-weight: bold;
}

:not(p) + p::first-line {
  font-variant: small-caps;
}

figure {
  background-color: #f2eded;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
  margin: 30px;
}

#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

#familia-pelho {
  float: left;
  margin: 0 10px 10px 0;
}

figcaption {
  font-style: italic;
  margin-top: 10px;
}

#rodape {
  color: #777;
  margin: 30px 0;
  padding: 30px 0;
}

#rodape img {
  margin-right: 30px;
  vertical-align: middle;
  width: 94px;
}

footer {
  clear: both;
  background-image: url(../img/fundo-rodape.png);
  padding: 20px;
}

footer .container {
  position: relative;
}

.social {
  position: absolute;
  top: 0;
  right: 0;
}

.social a {
  /*tamanho da imagem*/
  height: 32px;
  width: 32px;
  /*image replacement*/
  display: block;
  text-indent: -9999px;
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

.social li {
  float: left;
  margin-left: 25px;
}

@media (max-width: 939px) {
  /*mobile styles*/

  .container {
    width: 96%;
  }

  header h1 {
    text-align: center;
  }

  header h1 img {
    max-width: 50%;
  }

  .sacola {
    display: none;
  }

  .menu-opcoes {
    position: static;
    text-align: center;
  }

  .menu-opcoes ul li {
    display: inline-block;
    margin: 5px;
  }

  figure {
    padding: 5px;
    margin: 5px;
  }

  #centro-distribuicao,
  #familia-pelho {
    margin-right: 0;
    width: 100%;
  }

  #centro-distribuicao img {
    width: 90%;
  }
}
